<div id="canvasbox">
    <canvas id="canvas">
        <p>Ваш браузер не поддерживает рисование.</p>
    </canvas>
</div>

<div class="panel">
    <mat-form-field class="ticker">
        <mat-label>Инструмент</mat-label>
        <mat-select [(value)]="instrum">
            <mat-option *ngFor="let ins of instrums" [value]="ins">
                {{ins.ticker}} {{ins.shortName}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="timeframe">
        <mat-label>Таймфрейм</mat-label>
        <mat-select [(value)]="timeframe">
            <mat-option [value]="1">Min 1</mat-option>
            <mat-option [value]="2">Min 5</mat-option>
            <mat-option [value]="3">Min 10</mat-option>
            <mat-option [value]="4">Min 15</mat-option>
            <mat-option [value]="5">Min 20</mat-option>
            <mat-option [value]="6">Min 30</mat-option>
            <mat-option [value]="7">Hour</mat-option>
            <mat-option [value]="8">Day</mat-option>
            <mat-option [value]="9">Week</mat-option>
        </mat-select>
    </mat-form-field>

    <button mat-icon-button (click)="showChart()" [disabled]="instrum === null" ><mat-icon>arrow_forward</mat-icon></button>
</div>