@import "~@angular/material/theming";
@import "../../styles.scss";

.container {
    width: 100%;
    display: flex;
    height: 60vh;
    justify-content: center;
    align-items: center;
}

.card {
    width: 300px;
    background-color: mat-color($dario-menu, 200);
}

.field {
    width: 100%;
}

button {
    width: 100%;
}

.error {
    color: mat-color($dario-warn, 700);
}

mat-divider {
    background-color: mat-color($dario-menu, 500);
}
