<div class="container">
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>Вход в систему</mat-card-title>
        </mat-card-header>

        <mat-divider></mat-divider>
        <br>

        <mat-card-content>
            <mat-form-field class="field">
                <mat-label>Логин:</mat-label>
                <input matInput [(ngModel)]="login">
            </mat-form-field>
            <br>
            <mat-form-field class="field">
                <mat-label>Пароль:</mat-label>
                <input matInput [(ngModel)]="password" type="password">
            </mat-form-field>
        </mat-card-content>

        <mat-card-actions>
            <button mat-flat-button color="primary" (click)="logon()">Войти</button>
        </mat-card-actions>

        <div class="error">{{error}}</div>
    </mat-card>
</div>