<mat-toolbar *ngIf="authUser" color="primary">
    <span>Dario</span>

    <span class="spacer"></span>

    <button mat-button routerLink="chart" >
        <mat-icon>show_chart</mat-icon>Графики
    </button>
    <button mat-button routerLink="leech" >
        <mat-icon>troubleshoot</mat-icon>Агент
    </button>
    <button mat-button routerLink="open-pos-list" >
        <mat-icon>add</mat-icon>Открытые позиции
    </button>
    <button mat-button routerLink="close-pos-list" >
        <mat-icon>add</mat-icon>Закрытые позиции
    </button>

    <span class="spacer"></span>
    <button mat-button (click)="logout()">
        <mat-icon>logout</mat-icon>Выход
    </button>
</mat-toolbar>

<div class="main-box">
    <router-outlet></router-outlet>
</div>
